div.main-content {
    text-align:center;
}
input.form-control{
    display: inline-block;
    width: 350px;
}
div.airport-result {
    display: inline-block;
}
div.loading {
    background-image: url('http://i.imgur.com/seuaOqf.gif');
    background-repeat: no-repeat;
    background-size: 100px;    
    width: 100px;
    height: 100px;
    display: none;
    margin: 0 auto;
}
table.flight-results {
    width: 75%;
    margin: 0 auto;    
    display: none;
}
th, td {
    border: 1px solid #ccc;
    text-align: center!important;
}
div.weather-results {
    display: none;
}
div.darksky-logo {
    background-image: url('https://darksky.net/dev/img/attribution/poweredby.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
div.form-error {
    display: none;
    width: 50%;
    margin: 0 auto;
}
div.form-error p {
    display: none;
    padding: 5px;
}
input.error {
    border: 1px solid red;
}

@media screen and (max-width: 600px) {
    input.form-control, table.flight-results{        
        width: 100%;
    }
}

